
body {
    padding: 0px!important;
    /* position: fixed!important; */
}

@font-face {
    font-family: cairo;
    src: url(../fonts/Cairo-VariableFont_slnt\,wght.ttf);
}


 *{
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     font-family: cairo;
     padding: 0; margin: 0;
     outline: none; border: none;
     text-decoration: none;
     transition: all .2s linear;
     transition: width none; 

 }
 :root{
     --green:#27ae60;
     --dark-color:#219150;
     --black:#444;
     --light-color:#666;
     --border:.1rem solid rgba(0,0,0,.1);
     --border-hover:.1rem solid var(--black);
     --box-shadow: 0 2px 15px rgb(0, 0, 0,10%);
     --main-transition: 0.3s;
 }

 

 html{
     scroll-behavior: smooth;
     font-size: 62.5%;
     overflow-x: hidden;
     scroll-padding-top: 5rem;
 }
 html::-webkit-scrollbar{
     width: 1rem;
 }
 html::-webkit-scrollbar-track{
     background: transparent;
 }
 html::-webkit-scrollbar-thumb{
     background: var(--black);
 }

 a{
     text-decoration: none;

 }

 ul{
     list-style: none;
     margin: 0;
     padding: 0;
 }

 .container{
     
     margin-left: auto;
     margin-right: auto;
     

 }

 .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;

}
.btn:hover{
    background: var(--dark-color);

}
section{
    width: 81%;
    margin: 6rem auto;
}
.heading{
    font-size: 2.8rem;
    margin: 1em 0;
    color: var(--black);
 }
 

/* ============================================================================ */

/* =================
 start top nav 
================== */
.nav-top-div{
    border-bottom: var(--border);
}
 .nav-top-s{
    margin: 1rem auto;
}

 .nav-top .container{
    direction: ltr;
    padding: 0!important;
 }
 .nav-top .container .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    

 }
 .nav-top .container .content .contact{
    display: flex;
    gap: 1rem;
    color: var(--green);
    padding: 0 1rem;
    align-items: center;
    

 }
 .nav-top .container .content .contact a{
     color: var(--black)!important;
 }
 .nav-top .container .content .icons a{
     
     color: var(--green)!important;
 }
 .nav-top .container .content .icons{
     
    display: flex;
    gap: 1.2rem;
 }
/* =================
 start top nav 
================== */

/* ============================================================================ */

/* =================
 start header
================== */

 .header .header-1{
     background: #fff;
     padding: 1.5rem 9%;
     display: flex;
     align-items: center;
     justify-content: space-between;

 }
 .header .header-1 .logo{
     font-size: 2.5rem;
     font-weight: bolder;
     color: var(--black);

 }
 .header .header-1 .logo span{
    color: var(--green);
 }
 .header .header-1 .search-form{
     width: 50rem;
     height: 4rem;
     border: var(--border);
     overflow: hidden;
     background: #fff;
     display: flex;
     align-items: center;
     border-radius: 5rem;
     z-index: 1050;
 }
 .header .header-1 .search-form input{
     font-size: 1.6rem;
     padding: 0 3rem;
     height: 100%;
     width: 100%;
     text-transform: none;
     color: var(--black);
 }
 .header .header-1 .search-form label{
     font-size: 2.2rem;
     padding-left: 1.5rem;
     color: var(--black);
     cursor: pointer;
 }
 .header .header-1 .search-form label:hover{
     color: var(--green);
 }
 .header .header-1 .icons div,
 .header .header-1 .icons a{
     font-size: 2.2rem;
     margin-left: 1.5rem;
     color: var(--black);
     cursor: pointer;

 }
 .header .header-1 .icons div:hover,
 .header .header-1 .icons a:hover{
    color: var(--green);
 }
 #search-btn{
     display: none;
 }

 .header .header-2 .navbar{
     text-align: center;
 }
 .header .header-2 .navbar a{
     color: #efff;
     display: inline-block;
     padding: 1.2rem;
     font-size: 1.7rem;

 }
 .header .header-2 .navbar a:hover{
     background: var(--dark-color);
 }
 .header .header-2.active{
     position: fixed;
     top: 0; left: 0; right: 0;
     z-index:99999;
   
 }

#menu-bar{
  font-size: 2.5rem;
  padding: .5rem 1.5rem;
  border: .1rem solid var(--black);
  color: var(--green);
  border-radius: .3rem;
  cursor: pointer; 
  display: none; 
}


/*=== sign in / sign up modal ===*/

.modal{
    padding-left: 0px!important;
}

.modal-content{
    font-size: 1.7rem!important;
    font-weight: 500!important;
    border-radius: 1rem;
    overflow: hidden;
}

.modal-header{
    background: #f6f9fc;
    padding: 1rem 2.5rem!important;
    position: relative;
}

.modal-header .card-header-tabs{
    border-bottom: none!important;
}


.modal-header .nav-tabs{
    gap: 10px;
}

.modal-header .nav-tabs .nav-link{
    border-top: none!important;
    border-bottom: none!important;
    border-left: none!important;
    border-right: none!important;
    color: var(--black);
}
.modal-header .nav-tabs .nav-link.active{
    border-top: none!important;
    border-bottom: none!important;
    border-left: none!important;
    border-right: none!important;
    color: var(--green);
}
.modal-header .nav-tabs .nav-link i{
    margin-left: 0.7rem;
}

.nav-tabs .nav-link::before {
    position: absolute;
    display: block;
    bottom: 0;
    /* right: 1.25rem; */
    width: calc(100% - (18.5rem * 2));
    height: 1px;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,box-shadow .25s ease-in-out,border-color .25s ease-in-out;
    background-color: rgba(0,0,0,0);
    content: "";
}

.nav-tabs .nav-link.active::before {
    background-color: var(--green);
}
.nav-link:not(.dropdown-toggle).active {
    pointer-events: none;
}


.modal-body{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2.6rem 2.5rem!important;
}
.tab-content>.active {
    display: block!important;
}

.modal-body .needs-validation .form-label {
    margin-bottom: 1rem;
}
[type=email], [type=number], [type=tel], [type=url] {
    direction: rtl!important;
}
.modal-body .needs-validation .form-control{
    padding: 1rem 1.8rem;
    font-size: 1.5rem;
    font-weight: 500;

}


.form-check .form-check-input{
    border: 1px solid #c1cdd7;
}
.form-control:focus {
    border-color: var(--green)!important;
    box-shadow: 0 0 0 0 rgb(71 243 73 / 25%)!important;
}
.form-check-input:focus {
    
    outline: 0;
    box-shadow: 0 0 0 0 rgb(254 105 106 / 25%);
}
.form-check-input:active {
    filter: none;
}
.form-check-input:checked {
    background-color: var(--green)!important;
    border-color: var(--green)!important;
    box-shadow: 0 0 0 0 rgb(71 243 73 / 25%)!important;
}

.modal-body .needs-validation .mb-3{
    margin-bottom: 2rem!important;
}
.password-toggle{
    position: relative;
}

.password-toggle-btn {
    position: absolute;
    top: 50%;
    left: .625rem;
    margin-bottom: 0;
    padding: 0.9rem;
    transform: translateY(-50%);
    font-size: 1.0625rem;
    line-height: 1;
    cursor: pointer;
}
 .password-toggle-check {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}
.password-toggle-btn .password-toggle-indicator {
    font-size: 1.5rem;
    transition: color .2s ease-in-out;
    color: #7d879c;
    font-style: normal;
}
.was-validated .password-toggle .form-control:invalid+.password-toggle-btn, 
.was-validated .password-toggle .form-control.is-invalid+.password-toggle-btn, 
.was-validated .password-toggle .form-control:valid+.password-toggle-btn, 
.was-validated .password-toggle .form-control.is-valid+.password-toggle-btn {
   
    left: 2.1rem;
}

.needs-validation .form-check .form-check-label{
    color: var(--black);
}
.mb-3 a{
    color: var(--green);
    cursor: pointer;
}
.needs-validation .btn{
    margin-top: 2rem;
    font-size: 1.6rem;
    padding: .8rem 1.5rem;
}

/*=== Create a new password ===*/

.mb-3 .form-control{
    padding: 1rem 1.8rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.modal-header .modal-title{
    font-size: 1.8rem!important;
    margin: .5rem 0!important;
}
.modal-footer .btn{
    padding: 0.5rem 2rem;
    margin: 0.5rem 2rem;
}


 /* =================
 end header 
================== */

/* ============================================================================ */

/* =================
 start home
================== */
 
 .bg-home{
     background: #f3f3f3;
     background: url(../images/master-img/img1.jpg) no-repeat;
     background-size: cover;
     background-position: center;
    
 }
 .home{
    margin: 0rem auto 6rem;
 }
 .home .row{
    
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 11rem 8rem 11rem 8rem;
    justify-content: space-between;
     
 }

 .home .row .content{
    width: auto!important;
 }
 .home .row .content h1{
    font-size: 4rem;
    margin: 2.8rem 0;
    color: var(--black);
    font-weight: bold;
 }

 .home .row .title-page{
    font-size: 1.3rem;
    margin: 2.8rem 0;
    color: var(--light-color);
    line-height: 2.5;
    width: auto!important;
 }
 .home .row .title-page h3{
    font-weight: bold;
    font-size: 2.4rem;
    margin: 0;
 }
 .home .row .title-page a{
     color: var(--black);
     font-size: 2.5rem;
     
    
 }
 .home .row .title-page a:hover{
     color: var(--green);
 }


  
/* =================
 end home 
================== */

/* ============================================================================ */

/* =================
 start arrival
================== */

.arrival .row>*{
    padding-bottom: 2rem!important;
} 
.arrival .row {
    --bs-gutter-x: 2rem!important;
    
}
 .arrival .heading{
    margin: 1em 0 .2rem;
 }
 .arrival .heading-p{
    font-size: 2rem;
    color: var(--light-color);
    margin: 0 0 2rem;
 }
 .arrival .box{
    border: none!important;
    position: unset!important;
     overflow: hidden;

 }

 .arrival .box:hover{
    box-shadow: var(--box-shadow);
 }



 .arrival .box .image img{
     width: 100%;

 }
 .arrival .box .info h3{
     padding: 1rem;
     font-size: 1.3rem;
     color: var(--black);

 }
 .arrival .box .info .supinfo{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 1rem;
     direction: ltr;
 }
 .arrival .box .info .supinfo .price{
     color: #666;
     font-size: 1.5rem;
     
 }
 .arrival .box .info .supinfo .price SPan{
     color: var(--green);
     font-size: 1.3rem;
     text-decoration: line-through;
 }
 .arrival .box .info .supinfo .stars i{
     color: orange;
     font-size: 1.5rem;
 }

 .arrival .box .overlay{
     position: absolute;
     top: 0; left: 0;
     height: 100%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all .4s ease-in-out ;
 }
 .arrival .box:hover .overlay{
    background: rgba(255, 255, 255, 0.5);
 }
 .arrival .box:hover .overlay a{

    opacity: 1;
 }
 .arrival .box:hover .info a h3{
     color: var(--green);
 }
 .arrival .box .overlay a{
    font-size: 2rem;
    padding: 1.5rem 2rem;
    background: #fff;
    color: var(--green);
    margin: 1rem;
    transform: translateY(-7rem);
    transition-delay: calc(.1s * var(--i));
    opacity: 0;
 }
 .arrival .box:hover .overlay a{
    transform: translateY(0rem);
 }
 .arrival .box .overlay a:hover{
     background: var(--green);
     color: #fff;
 }



 #Switch_pages{
    padding: 3.5rem 0 1rem;
    direction: ltr;
 }
 #Switch_pages .pages{
     display: flex;
     justify-content: end;
 }
 #Switch_pages .pages .page-item{
     margin: 0 .5rem 0;
 }
 #Switch_pages .pages .page-item #item-active{
    background: var(--green);
    color: #fff;
 }

 #Switch_pages .pages .page-item:hover .page-link{
    background: var(--green);
    color: #fff;
 }
 #Switch_pages .pages .page-item .page-link{
    color:var(--black);
    font-size: 2rem;
    padding: 0.6rem 1.5rem;
    display: block;
    border: var(--border); 
 }

/* =================
 end arrival 
================== */

/* ============================================================================ */

/* =================
 start footer
================== */

.footer{
    background: #f3f3f3;
}
.footer section{
    margin-bottom: 0;
    padding-bottom: 4rem;
    padding-top: 3rem;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
    font-weight: 500;
}
.footer .box-container .box a, p{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.footer .box-container .box p{
    line-height: 2;
}
.footer .box-container .box a i{
    color: var(--green);
    padding: .5rem;
}
.footer .box-container .box a:hover i{
    padding-left: 2rem;
}
.footer .share {
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 7rem;
}
.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background: var(--green);
    margin: 0 .3rem;
    border-radius: 50%;
}
.footer .share a:hover{
    background: var(--black);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}
.footer .credit span{
    color: var(--green);
}

/* arrow */

.footer section .arrw-page{
    position: fixed;
    top: 83%;
    right: 11%;
    z-index: 1000;
}
.footer section .arrw-page a i{
    padding: 1rem;
    font-size: 2rem;
    background: var(--green);
    color: #fff;
}
.footer section .arrw-page a i:hover{
    color: var(--green);
    background: #fff;
    
}
.footer section .up{
    position: fixed;
    top: 83%;
    right: 11%;
    z-index: 1000;
    cursor: pointer;
    transition: 0.2s;
    padding: 0.6rem 1.3rem;
    border-radius: 18%;
    font-size: 2.5rem;
    background: #27ae5f86;
    color: #f2f1f1;
    display: none;
}
.footer section .up.active{
    display: block;
}

.footer section .up:hover{
    color: #fff;
    background: #219150af; 
}

/* =================
 end footer
================== */

/* ============================================================================ */

/* =================
 details product page
================== */
.detail-section{
    margin-bottom: 0;
}
.detail-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    background-color: #fff;
    
}
.detail-box .box{
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
width: 113rem;

padding: 1rem;
}

.detail-box .box .image-detail{
    text-align: center;
    padding: 1rem 2rem;
}

.detail-box .box .image-detail .big-image{
    box-shadow: var(--box-shadow);
    padding: 1rem 1rem; 
    background: #fff;
}

.detail-box .box .image-detail .big-image img{
    height: 30rem;
    width: 100%;
}

.detail-box .box .image-detail .small-image{
    padding: 2rem 0;
}

.detail-box .box .image-detail .small-image img{
    box-shadow: var(--box-shadow);
    padding: .7rem; 
    background: #fff;
    margin: .5rem;
    width: 12rem;
    height: 8rem;
    cursor: pointer;
}

.detail-box .box .image-detail .small-image img.active{
    display: initial!important;
 
}

.detail-box .box .image-detail .small-image img.active,
.detail-box .box .image-detail .small-image img:hover{
    background: #ccc;
}

.detail-box .box .content{
    padding: 1rem 2rem;
    flex: 1 1 26rem;

}

.detail-box .box .content .title{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--black);
    padding: 1rem 0;
    
}
.detail-box .box .content .price{
    color: var(--green);
    font-size: 2.2rem;
    padding: .5rem 0;
    display: inline-block;


}

.detail-box .box .content p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--black);
}

.detail-box .box .content form .dropdown span{
    font-size: 1.8rem;
    display: block;
    color: var(--black);
    padding: 1rem 0;

}

.detail-box .box .content form .dropdown select{
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    color: var(--black);
    padding: 0 .5rem;
    border-radius: 0.5rem;
    border: var(--border);
}



.detail-box .box .content form .qunantity{
    padding: 2rem 0;

}

.detail-box .box .content form .qunantity span{
    font-size: 1.8rem;
    color: #333;

}

.detail-box .box .content form .qunantity input{
    height: 3rem;
    width: 7rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--black);
    border: var(--border);
    border-radius: 0.5rem;
    margin: 0 1rem;
}

.detail-box .box .content .buttons{
    display: flex;
}

.detail-box .box .content .btn{
    height: 4rem;
    width: 15rem;
    background: var(--green);
    color: #fff;
    margin-left: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.7rem;
}
.detail-box .box .content .btn:hover{
    background: var(--dark-color);

}



.detail-box .box .content .share{
    font-size: 1.5rem;
    margin-top: 3rem;
}

.detail-box .box .content .share a{
    color: var(--green);
    margin: 1rem;
    font-size: 1.5rem;
}
.detail-box .box .content .share a:hover{
    color: var(--dark-color);
}

/* ============================================================================ */

/* =================
 carousel slide
================== */

.carousel-slide{
    margin-top: 0;
}
.product-box{
    border: var(--border);
    position: relative;
}

.product-box .info h3{
    padding: 1rem;
    font-size: 1.3rem;
    color: var(--black);
    text-align: center;

}
.product-box .info .supinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    direction: ltr;
}
.product-box .info .supinfo .price{
    color: #666;
    font-size: 1.5rem;
    
}
.product-box .info .supinfo .price SPan{
    color: var(--green);
    font-size: 1.3rem;
    text-decoration: line-through;
}

.product-box .overlay{
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out ;
}
.product-box:hover .overlay{
    background: rgba(255, 255, 255, 0.5);
 }
 .product-box:hover .overlay a{

    opacity: 1;
 }
.product-box:hover .info a h3{
    color: var(--green);
}
.product-box .overlay a{
    font-size: 2rem;
    padding: 1.5rem 2rem;
    background: #fff;
    color: var(--black);
    margin: 1rem;
    transform: translateY(-7rem);
    transition-delay: calc(.1s * var(--i));
    opacity: 0;
 }
.product-box:hover .overlay a{
    transform: translateY(0rem);
 }
.product-box .overlay a:hover{
     background: var(--green);
     color: #fff;
 }


.owl-theme .owl-dots .owl-dot span {

    background: #21915075; 
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
   
    background: var(--green);
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
    margin-top: 5rem;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    display: none;
}

/* ============================================================================ */

/* detail modal*/
#detail-modal .detail-header{
    background: none;
    padding: 0rem 0rem!important;
    border-bottom: none;
}

#detail-modal .detail-close{
    padding: 2rem;
    position: absolute;
    left: 0;
    z-index: 1000;
}
#detail-modal .detail-body{
    padding: 0px!important;
}
.detail-body .h4{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--black);
}
.detail-body .text-muted {
    color: var(--light-color)!important;
    font-size: 2rem!important;
}
.detail-body .quantity{
    border: none;
    font-size: 1.5rem;
    padding: 0.375rem 1rem;
    padding-right: 2rem;
}

.detail-body .detail-btn{
    margin: 0;
    padding: 0;
    border-radius: 0;
}
.detail-body .detail-btn:hover{
    color: #eee;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #fff!important;
    background-color: var(--green)!important;
    border: none!important;
}
.detail-body .foot{
    margin-top: 10rem;
}
/* ============================================================================ */

/* =================
 media queries
================== */

@media ( max-width: 991px) {
    html{
        font-size: 55%!important;
    }
    .header .header-1{
        padding: 2rem;
    }
    .nav-top-s{
        width: 100%!important;
        padding: 0 2.5rem!important;
    }
    .nav-top-div .nav-top-s .nav-top .container {
        max-width: 100%;
    }
   
}

@media ( min-width: 769px){
    .header .nav-menu{
      display: none;

    }
}
@media ( min-width: 768px){
    .datail-cont {
        margin-top: 3.5rem!important;
    }
    
}
 @media ( max-width: 768px) {
    .nav-top-div{
        border-bottom: none;
    }

    .header .header-2{
        display: none;
    }
    #search-btn{
        display: inline-block;
    }
    .header .header-1{
        box-shadow: 0 6px 15px rgb(0 0 0 / 8%);
        position: relative;
    }
    .header .header-1 .search-form{
        position: absolute;
        top: -215%; right: 3rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }
    .header .header-1 .search-form.active{
        top: 115%;
    } 
    #menu-bar{
       
        display: block; 
      }
    .header .nav-menu{
        position: absolute;
        top:100%; right: -120%;
        width: 100%;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        z-index: 1000;

    }
    .header .nav-menu.active{
        right: 0;
        display: block!important;
       
    }
    .header .nav-menu a{
        font-size: 2rem;
        background: #fff;
        text-align: center;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem;
        display: block;
        color: black;
    }
    .header .nav-menu a:hover{
        color: var(--green);
        background: #eee;
    }

    .arrival .box-container{
        width: auto;
    }

    .detail-box .box{
        flex-flow: column;
    }
    .detail-box .box .image-detail .big-image img{
        height: auto;
        width: 100%;
    }
    .detail-box .box .col-6 {
        flex: 0 0 auto;
        width: 92%;
    }
   
 
}
 @media ( max-width: 450px) {
    html{
        font-size: 45%!important;
    }
    .home .row {
        
        padding: 5rem 8rem 5rem 8rem;
    }


}
 @media ( max-width: 608px) {
    .home .row {
        
        padding: 5rem 8rem 5rem 8rem;
    }
}